<!DOCTYPE html>
<html>
<head>
    <title>Discounted Products</title>
</head>
<body>
{% for category, products in discounted_products_by_category.items() %}
<h2>{{ category }}</h2>
<table>
    <tr>
        <th>Title</th>
        <th>MRP</th>
        <th>Selling Price</th>
        <th>Discount Percentage</th>
    </tr>
    {% for index, product in products.iterrows() %}
    <tr>
        <td>{{ product['title'] }}</td>
        <td>{{ product['mrp'] }}</td>
        <td>{{ product['sellingPrice'] }}</td>
        <td>{{ product['discount_percentage'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
</body>
</html>
